@mixin titleHighlight() {
  content: '';
  background: yellow;
  background: linear-gradient(to right, yellow 0%,#ffffff 89%);
  min-width: 105%;
  height: 114%;
  position: absolute;
  z-index: -1;
  top: -2px;
  bottom: -2px;
  left: -64px;
  display: inline;
}

@mixin headingHighlight() {
  content: '';
  background: #0084cc;
  background: linear-gradient(to right, #0084cc 0%,#ffffff 100%);
  width: 65%;
  height: 4px;
  position: absolute;
  bottom: -5px;
  left: 0;
}

// Post listing.
body.s-post-list {
  a.s-post-title {
    position: relative;
    z-index: 1;

    &::before {
      @include titleHighlight;
    }
  }
}

// Post detail.
body.s-post {
  h2 {
    position: relative;

    &::before {
      @include titleHighlight;
    }
  }

  h3 {
    position: relative;

    &::before {
      @include headingHighlight;
    }
  }
}
