@mixin titleHighlight($startColor) {
  content: '';
  background: $startColor;
  background: linear-gradient(to right, $startColor 0%,#ffffff 89%);
  min-width: 105%;
  height: 114%;
  position: absolute;
  z-index: -1;
  top: -2px;
  bottom: -2px;
  left: -64px;
  display: inline;
}

@mixin headingHighlight($startColor) {
  content: '';
  background: $startColor;
  background: linear-gradient(to right, $startColor 0%,#ffffff 100%);
  width: 65%;
  height: 4px;
  position: absolute;
  bottom: -5px;
  left: 0;
}

// Variables.
$title_highlight: #ffff00;
$heading_highlight: #0084cc;
$about_highlight: #ffd1fe;

// Post listing.
body.s-post-list {
  a.s-post-title {
    position: relative;
    z-index: 1;

    &::before {
      @include titleHighlight($title_highlight);

      left: -10px;
      min-width: 100%;
    }
  }
}

// Post detail.
body.s-post {
  h2 {
    position: relative;

    &::before {
      @include titleHighlight($title_highlight);
    }
  }

  h3 {
    position: relative;

    &::before {
      @include headingHighlight($heading_highlight);
    }
  }
}

// Front.
body.front {
  h3.name.title {
    p {
      font-weight: normal;
      display: inline-block;
      margin: 13px 0;
      padding: 10px;
      text-transform: uppercase;
      position: relative;
      font-weight: 400 !important;

      &::before {
        @include titleHighlight($title_highlight);

        min-width: 100%;
        height: auto;
        left: 0;
      }
    }
  }

  h3.about.title {
    position: relative;
    padding: 1px;

    p {
      padding: 0 6px;
    }

    &::before {
      @include titleHighlight($about_highlight);

      min-width: 100%;
      left: 0;
      height: auto;
    }
  }
}

/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffff00+0,ffffff+85 */
background: #ffff00; /* Old browsers */
background: -moz-linear-gradient(left,  #ffff00 0%, #ffffff 85%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #ffff00 0%,#ffffff 85%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #ffff00 0%,#ffffff 85%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff00', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */

